<mat-card
  style="margin-bottom: 5px; padding-bottom: 0%; margin-top: 0; padding-top: 0; border-top: 0; padding-left: 0px; margin-left: 0; border-left: 0;">
  <mat-list style="margin: 0; padding: 0; border: 0;">
    <mat-list-item style="margin: 0; padding: 0; border: 0; height: 58px;">
      <mat-icon mat-list-icon style="padding-left: 0px; margin-left: 0; border-left: 0;">library_books</mat-icon>
      <div mat-line><mat-card-title
          style="font-size: 15px; margin-bottom: 0; padding-bottom: 0; padding-bottom: 0;">Agrega nuevas variables
        </mat-card-title></div>
      <div mat-line>
        <div aria-label="breadcrumb" style="font-size: 12px; border: 0; padding: 0; margin: 0;">
          <ol class="breadcrumb " style="border: 0; padding: 0; margin: 0;">
            <li type="button" style="color: var(--color-texto-fondo); text-decoration: none;"
              class="breadcrumb-item active derecha" aria-current="page" routerLink="/user-dashboard"><mat-card-title
                style="font-size: 14px;padding: 0; margin: 0; border: 0;"> Inicio </mat-card-title></li>
            <li style="color: var(--resaltado-color); text-decoration: none;" class="breadcrumb-item active derecha"
              aria-current="page"><mat-card-title style="font-size: 14px;padding: 0; margin: 0; border: 0;"> Añadir variable
              </mat-card-title></li>
          </ol>
        </div>
      </div>
    </mat-list-item>
  </mat-list>
</mat-card>


<mat-stepper orientation="horizontal">
  <mat-step>
    <ng-template matStepLabel>Añadir variable</ng-template>
    <ng-template matStepContent>

<div class="joinnow">
  <div class="login col-lg-7 m-auto shadow-lg">
    <div class="container mt-4 mb-5">
      <div class="row">
        <div>
          
              <div class="box mt-3 mb-3">

                <mat-form-field appearance="fill" class="mt20 w100">
                  
                  <mat-label>Tipo variable</mat-label>
                  <mat-select name="tipoVariable" [(ngModel)] = "equivalenciaVariable.variable.tipoVariable.idTipoVariable">
                    <mat-option *ngFor = "let c of tipoVariable" [value] = "c.idTipoVariable">
                      {{ c.nombreTipoVariable }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill" class="mt20 w100">
                  <mat-label>Variable de la organización</mat-label>
                  <mat-select name="catalogoOrganizacion" [(ngModel)] = "equivalenciaVariable.catalogoOrganizacion.idVariableOrganizacion">
                    <mat-option *ngFor = "let c of catalogoOrganizacion" [value] = "c.idVariableOrganizacion">
                      {{ c.nombreVariableOrganizacion }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

              <mat-form-field class="w100" appearance="outline">
                <mat-label>Nombre de la variable del proyecto</mat-label>
                <input
                type="text"
                name="nombreVariableEspoch"
                matInput
                placeholder="Ingrese el nombre de la variable del proyecto"
                [(ngModel)] = "equivalenciaVariable.catalogoEspoch.nombreVariableEspoch"
                >
              </mat-form-field>

              <div class="container text-center mt15">
                <button mat-raised-button color="primary" matStepperNext (click)="cargarDatosVariable()">Siguinte</button>
              </div>
              </div>
          </div>
        </div>
      </div>
      </div>
      </div>

    </ng-template>
  </mat-step>
  <mat-step >
    <ng-template  matStepLabel ><button class="plain-button" (click)="cargarDatosVariable()">Añadir valores permitidos</button></ng-template>
    <ng-template matStepContent>

      <div *ngIf="idTipoVariableAux==0 && idVariableOrganizacionAux==0 && nombreVariableEspochAux==''">
        <h3 style="text-align: center;">Primero ingrese los datos de la variable</h3>
      </div>

      <div *ngIf="idTipoVariableAux!=0 && idVariableOrganizacionAux!=0 && nombreVariableEspochAux!='' && idTipoVariableAux==1">
      <div class="joinnow">
        <div class="login col-lg-7 m-auto shadow-lg">
          <div class="container mt-4 mb-5">
            <div class="row">
              <div>
                    <div class="box mt-3 mb-3">
      
                    <mat-form-field class="w100" appearance="outline">
                      <mat-label>Valor minimo</mat-label>
                      <input
                      type="text"
                      name="valorMinimo"
                      matInput
                      placeholder="Ingrese el valor minimo"
                      [(ngModel)]="valorPermitido.valorMinimo"
                      >
                    </mat-form-field>

                    <mat-form-field class="w100" appearance="outline">
                      <mat-label>Valor maximo</mat-label>
                      <input
                      type="text"
                      name="valorMaximo"
                      matInput
                      placeholder="Ingrese el valor maximo"
                      [(ngModel)]="valorPermitido.valorMaximo"
                      >
                    </mat-form-field>

                    <div class="container text-center mt15">
                      <button mat-raised-button color="primary" (click)="agregarValorPermitido()">Agregar valor permitido</button>
                    </div>
      
                    </div>
                </div>
              </div>
            </div>
            </div>
          </div>
          <div class="joinnow">
            <div class="login col-lg-7 m-auto shadow-lg">
              <div class="container mt-4 mb-5">
                <div class="row">
                  <div>
          <mat-list class="box mt-3 mb-3">
          <mat-list-item *ngFor="let oC of listaValoresPermitidos; let i = index">
            <mat-icon mat-list-icon>streetview</mat-icon>
            <div mat-line ><mat-card-title style="font-size: 15px; margin-bottom: 0; padding-bottom: 0; padding-bottom: 0;">Valor minimo: {{oC.valorMinimo }}</mat-card-title></div>
            <div mat-line ><mat-card-title style="font-size: 15px; margin-bottom: 0; padding-bottom: 0; padding-bottom: 0;">Valor maximo: {{oC.valorMaximo }}</mat-card-title></div>
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
            
              <button mat-icon-button matTooltip="Warn" color="warn" aria-label="Example icon-button with a heart icon" (click)="eliminarValorPermitido(i)">
                <mat-icon>delete</mat-icon>
              </button>  

             </div>
            <mat-divider></mat-divider>
        
          </mat-list-item>
        </mat-list>
        </div>
        </div>
        </div>
        </div>
        </div>
      </div>

      
      <div *ngIf="idTipoVariableAux!=0 && idVariableOrganizacionAux!=0 && nombreVariableEspochAux!='' && idTipoVariableAux==2">
        <div class="joinnow">
          <div class="login col-lg-7 m-auto shadow-lg">
            <div class="container mt-4 mb-5">
              <div class="row">
                <div>
                      <div class="box mt-3 mb-3">
        
                      <mat-form-field class="w100" appearance="outline">
                        <mat-label>Valor permitido</mat-label>
                        <input
                        type="text"
                        name="valorPermitido"
                        matInput
                        placeholder="Ingrese el valor permitido"
                        [(ngModel)]="valorPermitido.valorPermitido"
                        >
                      </mat-form-field>
  
                      <div class="container text-center mt15">
                        <button mat-raised-button color="primary" (click)="agregarValorPermitido()">Agregar valor permitido</button>
                      </div>
        
                      </div>
                  </div>
                </div>
              </div>
              </div>
            </div>
            <div class="joinnow">
              <div class="login col-lg-7 m-auto shadow-lg">
                <div class="container mt-4 mb-5">
                  <div class="row">
                    <div>
            <mat-list class="box mt-3 mb-3">
            <mat-list-item *ngFor="let oC of listaValoresPermitidos; let i = index">
              <mat-icon mat-list-icon>streetview</mat-icon>
              <div mat-line ><mat-card-title style="font-size: 15px; margin-bottom: 0; padding-bottom: 0; padding-bottom: 0;">Valor Permitido: {{oC.valorPermitido }}</mat-card-title></div>
              <div class="btn-group" role="group" aria-label="Basic mixed styles example">
              
                <button mat-icon-button matTooltip="Warn" color="warn" aria-label="Example icon-button with a heart icon" (click)="eliminarValorPermitido(i)">
                  <mat-icon>delete</mat-icon>
                </button>  
  
               </div>
              <mat-divider></mat-divider>
          
            </mat-list-item>
          </mat-list>
          </div>
          </div>
          </div>
          </div>
          </div>
        </div>
      <div> 
        <button mat-button matStepperPrevious>Back</button>
        <form (ngSubmit)= "agregar()">
        <button mat-button >Reset</button>
        </form> 
      </div>
      
    </ng-template>
  </mat-step>

  <mat-step >
    <ng-template matStepLabel ><button class="plain-button" (click)="cargarDatosVariable()">Registrar variable </button></ng-template>
    
    <ng-template matStepContent>

      
<div class="joinnow">
  <div class="login col-lg-7 m-auto shadow-lg">
    <div class="container mt-4 mb-5">
      <div class="row">
        <div>
              
              <div class="box mt-3 mb-3">
                <div *ngIf="idTipoVariableAux==0 && idVariableOrganizacionAux==0 && nombreVariableEspochAux==''">
                  <h3 style="text-align: center;">Primero ingrese los datos de la variable</h3>
                </div>

                
                <div *ngIf="idTipoVariableAux!=0 && idVariableOrganizacionAux!=0 && nombreVariableEspochAux!=''">
                  <h3 style="text-align: center;">Informe de variable</h3>
                <br>
                <mat-label><b>Variable proyecto:</b>  {{equivalenciaVariable.catalogoEspoch.nombreVariableEspoch}}</mat-label>
                <br>
                <mat-label><b>Variable organizacion:</b>  {{datoCatalogoOrganizacion.nombreVariableOrganizacion}}</mat-label>
                <br>
                <mat-label><b>Tipo variable:</b>  {{datoTipoVariable.nombreTipoVariable}}</mat-label>
                <br>
                
                <div if *ngIf="idTipoVariableAux==1">
                  <mat-list class="box mt-3 mb-3">
                    <mat-list-item *ngFor="let oC of listaValoresPermitidos; let i = index">
                      <mat-icon mat-list-icon>streetview</mat-icon>
                      <div mat-line ><mat-card-title style="font-size: 15px; margin-bottom: 0; padding-bottom: 0; padding-bottom: 0;">Valor minimo: {{oC.valorMinimo }}</mat-card-title></div>
                      <div mat-line ><mat-card-title style="font-size: 15px; margin-bottom: 0; padding-bottom: 0; padding-bottom: 0;">Valor maximo: {{oC.valorMaximo }}</mat-card-title></div>
                      <mat-divider></mat-divider>
                    </mat-list-item>
                  </mat-list>
                </div>
                <div if *ngIf="idTipoVariableAux==2">
                <mat-list class="box mt-3 mb-3">
                  <mat-list-item *ngFor="let oC of listaValoresPermitidos; let i = index">
                    <mat-icon mat-list-icon>streetview</mat-icon>
                    <div mat-line ><mat-card-title style="font-size: 15px; margin-bottom: 0; padding-bottom: 0; padding-bottom: 0;">Valor Permitido: {{oC.valorPermitido }}</mat-card-title></div>
                    <mat-divider></mat-divider>
                  </mat-list-item>
                </mat-list>
              </div>

              <div class="container text-center mt15">
                <button mat-raised-button color="primary" matStepperNext (click)="agregar()">Registrar variable</button>
              </div>
            </div>


                

              
              </div>
          </div>
        </div>
      </div>
      </div>
      </div>



</ng-template>
</mat-step>