<mat-card
  style="margin-bottom: 5px; padding-bottom: 0%; margin-top: 0; padding-top: 0; border-top: 0; padding-left: 0px; margin-left: 0; border-left: 0;">
  <mat-list style="margin: 0; padding: 0; border: 0;">
    <mat-list-item style="margin: 0; padding: 0; border: 0; height: 58px;">
      <mat-icon mat-list-icon
        style="padding-left: 0px; margin-left: 0; border-left: 0;">supervised_user_circle</mat-icon>
      <div mat-line><mat-card-title
          style="font-size: 15px; margin-bottom: 0; padding-bottom: 0; padding-bottom: 0;">Agregar parcelas
        </mat-card-title></div>
      <div mat-line>
        <div aria-label="breadcrumb" style="font-size: 14px; border: 0; padding: 0; margin: 0;">
          <ol class="breadcrumb " style="border: 0; padding: 0; margin: 0;">
            <li class="breadcrumb-item derecha"><a  style="color: black; text-decoration: none;" routerLink = "/user-dashboard/">Inicio</a></li>
            <li class="breadcrumb-item derecha"><a  style="color: black; text-decoration: none;" [routerLink] = "'/user-dashboard/view-conglomerados/'+idProyecto">Conglomerados</a></li>
            <li class="breadcrumb-item derecha"><a  style="color: black; text-decoration: none;" [routerLink] = "'/user-dashboard/view-parcelas/'+idConglomerado+'/'+idProyecto">Parcelas</a></li>
            <li style="color: #3FC060; text-decoration: none;" class="breadcrumb-item active derecha" aria-current="page">Añadir parcela  </li>
          </ol>
        </div>
      </div>
    </mat-list-item>
  </mat-list>
</mat-card>


<div class="joinnow">
  <div class="login col-lg-7 m-auto shadow-lg">
    <div class="container mt-4 mb-5">
      <div class="row">
        <div>
          <form (ngSubmit)= "agregarConglomerado()">
              <div class="box mt-3 mb-3">
                
              <mat-form-field class="w100" appearance="outline">
                <mat-label>Coordenada X</mat-label>
                <input
                type="text"
                name="coordenadaX"
                matInput
                placeholder="Ingresa la coordenada X"
                [(ngModel)] = "parcela.coordenadaX"
                >
              </mat-form-field>

              <mat-form-field class="w100" appearance="outline">
                <mat-label>Coordenada Y</mat-label>
                <input
                type="text"
                name="coordenadaY"
                matInput
                placeholder="Ingresa la coordenada Y"
                [(ngModel)] = "parcela.coordenadaY"
                >
              </mat-form-field>

              <mat-form-field class="w100" appearance="outline">
                <mat-label>Sistema de coordenadas</mat-label>
                <input
                type="text"
                name="sistemaCoordenadas"
                matInput
                placeholder="Ingrese el sistema de coordenadas"
                [(ngModel)] = "parcela.sistemaCoordenada"
                >
              </mat-form-field>

              <div class="container text-center mt15">
                <button mat-raised-button color="primary">Guardar</button>
              </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      </div>
      </div>