<!--<mat-card>
    <h3>Lista de examenes</h3>
    <div class="container text-center mt20">
      <button routerLink="/admin/add-examen" mat-raised-button color="primary">Agregar cuestionario</button>
    </div>
    <mat-card class="mt10" *ngFor = "let e of investigaciones">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>
            {{ e.nombreInvestigacion }}
          </mat-card-title>
          <mat-card-subtitle>
            {{ e.descripcion }}
          </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-card-actions>
          <button mat-flat-button color="primary" [routerLink] = "'/admin/ver-investigador-investigacion/'+e.idInvestigacion+'/'+e.nombreInvestigacion">Investigadores</button>
          <button mat-stroked-button color="primary" class="ml20">Puntos máximos {{ e.puntosMaximos }}</button>
          <button mat-stroked-button color="primary" class="ml20">Preguntas {{ e.numeroDePreguntas }}</button>
          <button [routerLink] = "'/admin/examen/'+e.examenId" mat-flat-button color="primary" class="ml20">Actualizar</button>
          <button mat-flat-button color="primary" class="ml20">Intentos</button>
          <button mat-flat-button color="warn" class="ml10" (click) = "eliminarInvestigacion(e.idInvestigacion)">Eliminar</button>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
  </mat-card>-->

  <!--<mat-card style="margin-bottom: 5px; padding-bottom: 0%; height: 65px;">
    <mat-card-header>
      <label mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" style="position: absolute;top: 0;left: 20px; margin-top: 20px;" >
        <mat-icon style="font-size: 30px;"  >category</mat-icon>
      </label>
      <mat-card-title style="font-size: 15px ;margin-bottom: 5px; margin-left: 30px; padding-bottom: 3px; margin-top: 0; padding-top: 0; border-top: 0;">Gestionar investigaciones</mat-card-title>
      <mat-card-subtitle style="margin-left: 30px">Gestiona tus investigaciones</mat-card-subtitle>
    </mat-card-header>
  </mat-card>-->



  <mat-card  style="margin-bottom: 1px; padding-bottom: 0%; margin-top: 0; padding-top: 0; border-top: 0; padding-left: 0px; margin-left: 0; border-left: 0;">
    <mat-list style="margin: 0; padding: 0; border: 0;">
      <mat-list-item style="margin: 0; padding: 0; border: 0; height: 58px;">
        
        <mat-icon  mat-list-icon style="padding-left: 0px; margin-left: 0; border-left: 0;">category</mat-icon>
        <div mat-line ><mat-card-title style="font-size: 15px; margin-bottom: 0; padding-bottom: 0; padding-bottom: 0;">Gestionar investigaciones</mat-card-title></div>
        
        <div mat-line>
        <div aria-label="breadcrumb" style="font-size: 12px; border: 0; padding: 0; margin: 0;">
            <ol class="breadcrumb " style="border: 0; padding: 0; margin: 0;">
              <li class="breadcrumb-item derecha"><a  style="color: var(--migajas-color); text-decoration: none;" routerLink = "/admin/"><mat-card-title style="font-size: 13px;padding: 0; margin: 0; border: 0;">Inicio</mat-card-title></a></li>
              <mat-icon style="color: var(--migajas-color); font-size: 17px; padding-left: 3px; padding-top: 1px;">keyboard_arrow_right</mat-icon>
              <li style="color: var(--resaltado-color); text-decoration: none;" class="breadcrumb-item active derecha" aria-current="page"><mat-card-title style="font-size: 13px;padding: 0; margin: 0; border: 0;">Investigaciones</mat-card-title></li>
              
            </ol>
          </div>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-card>


<mat-card>
<mat-list>
  <mat-list-item >
    <div mat-line>
      <mat-form-field >
        <input type="text"
        class="form-control mb-2"
        placeholder="Buscar.."
        #txtSearch
        matInput
        (keyup)="onSearch( txtSearch.value )" 
        />
      </mat-form-field>
    </div>
    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
      <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
        <mat-icon>download</mat-icon>
      </button>
      <button routerLink="/admin/addInvestigacion" mat-raised-button color="primary">Agregar</button>             
     </div>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>
    <mat-card>
      <mat-list>
        <mat-list-item *ngFor = "let oC of investigaciones | filtroInvestigacion:search | paginate:page_size:page_number">
          <mat-icon mat-list-icon>streetview</mat-icon>
          <div mat-line ><mat-card-title style="font-size: 15px; margin-bottom: 0; padding-bottom: 0; padding-bottom: 0;">{{oC.nombreInvestigacion }}</mat-card-title></div>
          <div mat-line style="font-size: 13px;"> {{oC.descripcion}}</div>
          <div class="btn-group" role="group" aria-label="Basic mixed styles example">
            <button mat-icon-button matTooltip="Basic" color="Basic" aria-label="Example icon-button with a heart icon" [routerLink] = "'/admin/ver-investigador-investigacion/'+oC.idInvestigacion+'/'+oC.nombreInvestigacion">
              <mat-icon>assignment_ind</mat-icon>
            </button>  
            <button mat-icon-button matTooltip="Primary" color="primary" aria-label="Example icon-button with a heart icon" [routerLink] = "'/admin/actualizarUsuario/'+oC.id" >
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Warn" color="warn" aria-label="Example icon-button with a heart icon" (click) = "eliminarInvestigacion(oC.id)">
              <mat-icon>delete</mat-icon>
            </button>               
           </div>
           
          <mat-divider></mat-divider>
      
        </mat-list-item>
        <mat-paginator 
                       (page)="handlePage($event)"
                       [length]="(investigaciones | filtroInvestigacion:search).length"
                       [pageSize]="page_size"
                       [pageSizeOptions]="page_size_options"
                       showFirstLastButtons>
        </mat-paginator>
          
      </mat-list>
    </mat-card>
  </mat-card>

 

  
  
      
      
  