<!--<mat-card style="margin-bottom: 5px; padding-bottom: 0%; height: 65px;">
    <mat-card-header>
      <label mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" style="position: absolute;top: 0;left: 20px; margin-top: 20px;" >
        <mat-icon style="font-size: 30px;"  >person_pin</mat-icon>
      </label>
      <mat-card-title style="font-size: 15px ;margin-bottom: 5px; margin-left: 30px; padding-bottom: 3px; margin-top: 0; padding-top: 0; border-top: 0;">Asignar Investigadores</mat-card-title>
      <mat-card-subtitle style="margin-left: 30px">{{ nombreInvestigacion }}</mat-card-subtitle>
    </mat-card-header>
</mat-card>--->

<mat-card  style="margin-bottom: 1px; padding-bottom: 0%; margin-top: 0; padding-top: 0; border-top: 0; padding-left: 0px; margin-left: 0; border-left: 0;">
  <mat-list style="margin: 0; padding: 0; border: 0;">
    <mat-list-item style="margin: 0; padding: 0; border: 0; height: 58px;">
      
      <mat-icon  mat-list-icon style="padding-left: 0px; margin-left: 0; border-left: 0;">person_pin</mat-icon>
      <div mat-line ><mat-card-title style="font-size: 15px; margin-bottom: 0; padding-bottom: 0; padding-bottom: 0;">Asignar Investigadores a: {{ nombreProyectoInvestigacion }}</mat-card-title></div>
      
      <div mat-line>
      <div aria-label="breadcrumb" style="font-size: 12px; border: 0; padding: 0; margin: 0;">
          <ol class="breadcrumb " style="border: 0; padding: 0; margin: 0;">
            <li class="breadcrumb-item derecha"><a  style="color: black; text-decoration: none;" routerLink = "/admin/">Inicio</a></li>
            <li class="breadcrumb-item derecha"><a  style="color: black; text-decoration: none;" routerLink = "/admin/viewInvestigacion">Investigaciones</a></li>
            <li class="breadcrumb-item derecha"><a style="color: black; text-decoration: none;" [routerLink] = "'/admin/ver-investigador-investigacion/'+idProyectoInvestigacion+'/'+nombreProyectoInvestigacion">Investigadores</a></li>
            <li style="color: #3FC060; text-decoration: none;" class="breadcrumb-item active derecha" aria-current="page">Asignar investigadores</li>
          </ol>
        </div>
      </div>
    </mat-list-item>
  </mat-list>
</mat-card>

<mat-card>
  <mat-list>
    <mat-list-item >
      <div mat-line>
        <mat-form-field >
          <input type="text"
          class="form-control mb-2"
          placeholder="Buscar.."
          #txtSearch
          matInput
          (keyup)="onSearch( txtSearch.value )" 
          />
        </mat-form-field>
      </div>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
  
<mat-list>
  
  <mat-list-item *ngFor = "let oC of listaInvestigadores | filtroUsuarios:search | paginate:page_size:page_number">
    <mat-icon mat-list-icon>category</mat-icon>
    <div mat-line>{{oC.cedula }}</div>
    <div mat-line>{{oC.apellido}} {{oC.nombre}}</div>
    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
      <button mat-icon-button matTooltip="Primary" color="primary" aria-label="Example icon-button with a heart icon" (click) = "asignarInvestigador(oC.idInvestigador)">
        <mat-icon>offline_pin</mat-icon>
      </button>           
     </div>
     
     
    <mat-divider></mat-divider>
  </mat-list-item>

  <mat-list *ngIf="(listaInvestigadores | filtroUsuarios:search).length===0" style="text-align: center; padding: 20px; margin: 20px;">
    <p>No existen datos</p>
    <br>
    <mat-divider></mat-divider>
  </mat-list>

  <mat-paginator 
                 (page)="handlePage($event)"
                 [length]="(listaInvestigadores | filtroUsuarios:search).length"
                 [pageSize]="page_size"
                 [pageSizeOptions]="page_size_options"
                 showFirstLastButtons>
  </mat-paginator>
    
</mat-list>
</mat-card>

<!--
<br>

<mat-card>

  <mat-list>
    <div mat-subheader>
      <h2>Todas Usuarios</h2>
    </div>
    <mat-list-item >
      <div mat-line>
        <mat-form-field >
          <input type="text"
          class="form-control mb-2"
          placeholder="Buscar.."
          #txtSearch
          matInput
          (keyup)="onSearch( txtSearch.value )" 
          />
        </mat-form-field>
      </div>
      <div class="btn-group" role="group" aria-label="Basic mixed styles example">
        <button routerLink="/admin/add-usuarios" mat-raised-button color="primary">Agregar Ubicacion</button>             
       </div>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>

<mat-card>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="listaUsuarios | filtroUsuarios:search | paginate:page_size:page_number" class="full-width-table" matSort aria-label="Elements">
    
    <ng-container matColumnDef="dato1">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    
    <ng-container matColumnDef="dato2">
      <th mat-header-cell *matHeaderCellDef>Nombre y Apellidos</th>
      <td mat-cell *matCellDef="let row">{{row.nombre}}</td>
    </ng-container>

    
    <ng-container matColumnDef="dato3">
      <th mat-header-cell *matHeaderCellDef>Nombre de usuario</th>
      <td mat-cell *matCellDef="let row">{{row.username}}</td>
    </ng-container>

    
    <ng-container matColumnDef="dato4">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let row">{{row.email}}</td>
    </ng-container>

    
    <ng-container matColumnDef="dato5">
      <th mat-header-cell *matHeaderCellDef>Telefono</th>
      <td mat-cell *matCellDef="let row">{{row.telefono}}</td>
    </ng-container>

    
    <ng-container matColumnDef="opciones">
      <th mat-header-cell *matHeaderCellDef>Opciones</th>
      <td mat-cell *matCellDef="let row">
        <div class="example-button-row">
          <button mat-icon-button matTooltip="Primary" color="primary" aria-label="Example icon-button with a heart icon" [routerLink] = "'/admin/actualizar-usuario/'+row.id" >
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button matTooltip="Warn" color="warn" aria-label="Example icon-button with a heart icon" (click) = "eliminarUbicacion(row.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  <mat-paginator 
                 (page)="handlePage($event)"
                 [length]="(listaUsuarios | filtroUsuarios:search).length"
                 [pageSize]="page_size"
                 [pageSizeOptions]="page_size_options"
                 showFirstLastButtons>
  </mat-paginator>
</div>
</mat-card>
</mat-card>
-->


