<mat-card
  style="margin-bottom: 5px; padding-bottom: 0%; margin-top: 0; padding-top: 0; border-top: 0; padding-left: 0px; margin-left: 0; border-left: 0;">
  <mat-list style="margin: 0; padding: 0; border: 0;">
    <mat-list-item style="margin: 0; padding: 0; border: 0; height: 58px;">
      <mat-icon mat-list-icon
        style="padding-left: 0px; margin-left: 0; border-left: 0;">supervised_user_circle</mat-icon>
      <div mat-line><mat-card-title
          style="font-size: 15px; margin-bottom: 0; padding-bottom: 0; padding-bottom: 0;">Añadir institución
        </mat-card-title></div>
      <div mat-line>
        <div aria-label="breadcrumb" style="font-size: 14px; border: 0; padding: 0; margin: 0;">
          <ol class="breadcrumb " style="border: 0; padding: 0; margin: 0;">
            <li class="breadcrumb-item derecha"><a  style="color: black; text-decoration: none;" routerLink = "/admin/">Inicio</a></li>
            <li style="color: #3FC060; text-decoration: none;" class="breadcrumb-item active derecha" aria-current="page">Agregar institución</li>
          </ol>
        </div>
      </div>
    </mat-list-item>
  </mat-list>
</mat-card>


<div class="joinnow">
  <div class="login col-lg-7 m-auto shadow-lg">
    <div class="container mt-4 mb-5">
      <div class="row">
        <div>
          <br>
            <form (ngSubmit)= "formSubmit()">
              <mat-form-field class="w100" appearance="outline">
                <mat-label>Nombre de la institución</mat-label>
                <input
                type="text"
                name="nombreInstitucion"
                matInput
                placeholder="Ingrese el nombre de la institución"
                [(ngModel)] = "datos.nombreInstitucion"
                >
              </mat-form-field>

              <mat-form-field class="w100" appearance="outline">
                <mat-label>Siglas de la institución</mat-label>
                <input
                type="text"
                name="siglasInstitucion"
                matInput
                placeholder="Ingrese las siglas de la institución"
                [(ngModel)] = "datos.siglas"
                >
              </mat-form-field>

              <mat-form-field class="w100" appearance="outline">
                <mat-label>URL de la página de la institución</mat-label>
                <input
                type="text"
                name="paginaInstitucion"
                matInput
                placeholder="Ingrese la URL de la página de la institución"
                [(ngModel)] = "datos.pagina"
                >
              </mat-form-field>

              <mat-form-field class="w100" appearance="outline">
                <mat-label>Nombre del contacto de la institución</mat-label>
                <input
                type="text"
                name="contactoInstitucion"
                matInput
                placeholder="Ingrese el contacto de la institución"
                [(ngModel)] = "datos.contacto"
                >
              </mat-form-field>

              <mat-form-field class="w100" appearance="outline">
                <mat-label>Télefono del contacto de la institución</mat-label>
                <input
                type="text"
                name="telefonoInstitucion"
                matInput
                placeholder="Ingrese el télefono de la institución"
                [(ngModel)] = "datos.telefono"
                >
              </mat-form-field>

              <mat-form-field class="w100" appearance="outline">
                <mat-label>Emial del contacto de la institución</mat-label>
                <input
                type="text"
                name="telefonoEmail"
                matInput
                placeholder="Ingrese el email de la institución"
                [(ngModel)] = "datos.correo"
                >
              </mat-form-field>

              <mat-form-field appearance="fill" class="mt20 w100">
                <mat-label>Pais</mat-label>
                <mat-select name="pais" [(ngModel)] = "paisSeleccionado.codigoPais" (selectionChange)="listarProvincias()">
                  <mat-option *ngFor = "let c of listaPaises" [value] = "c.codigoPais">
                    {{ c.nombrePais }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill" class="mt20 w100">
                <mat-label>Provincia</mat-label>
                <mat-select name="Provincia" [(ngModel)] = "provinciaSeleccionado.codigoProvincia" (selectionChange)="listarCantones()">
                  <mat-option *ngFor = "let c of listaProvincias" [value] = "c.codigoProvincia" >
                    {{ c.nombreProvincia }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill" class="mt20 w100">
                <mat-label>Cantón</mat-label>
                <mat-select name="Canton" [(ngModel)] = "cantonSeleccionado.codigoCanton"  (selectionChange)="listarParroquias()">
                  <mat-option *ngFor = "let c of listaCantones" [value] = "c.codigoCanton">
                    {{ c.nombreCanton }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill" class="mt20 w100">
                <mat-label>Parroquia</mat-label>
                <mat-select name="Parroquia" [(ngModel)] = "parroquiaSeleccionado.codigoParroquia">
                  <mat-option *ngFor = "let c of listaParroquias" [value] = "c.codigoParroquia">
                    {{ c.nombreParroquia }}
                  </mat-option>
                </mat-select>
              </mat-form-field>


                
              <div class="container text-center mt15">
                <button mat-raised-button color="primary">Guardar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      </div>
    </div>
    
