<mat-card
  style="margin-bottom: 5px; padding-bottom: 0%; margin-top: 0; padding-top: 0; border-top: 0; padding-left: 0px; margin-left: 0; border-left: 0;">
  <mat-list style="margin: 0; padding: 0; border: 0;">
    <mat-list-item style="margin: 0; padding: 0; border: 0; height: 58px;">
      <mat-icon mat-list-icon style="padding-left: 0px; margin-left: 0; border-left: 0;">library_books</mat-icon>
      <div mat-line><mat-card-title
          style="font-size: 15px; margin-bottom: 0; padding-bottom: 0; padding-bottom: 0;">Agrega nueva area de investigación
        </mat-card-title></div>
      <div mat-line>
        <div aria-label="breadcrumb" style="font-size: 12px; border: 0; padding: 0; margin: 0;">
          <ol class="breadcrumb " style="border: 0; padding: 0; margin: 0;">
            <li type="button" style="color: var(--color-texto-fondo); text-decoration: none;"
              class="breadcrumb-item active derecha" aria-current="page" routerLink="/admin/"><mat-card-title
                style="font-size: 14px;padding: 0; margin: 0; border: 0;"> Inicio </mat-card-title></li>
            <li style="color: var(--resaltado-color); text-decoration: none;" class="breadcrumb-item active derecha"
              aria-current="page"><mat-card-title style="font-size: 14px;padding: 0; margin: 0; border: 0;"> Añadir area de investigacion
              </mat-card-title></li>
          </ol>
        </div>
      </div>
    </mat-list-item>
  </mat-list>
</mat-card>

<mat-card>
    <mat-card-content>
      <div class="bootstrap-wrapper">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <form (ngSubmit)= "agregarAreaInvestigacion()">
              <mat-form-field class="w100" appearance="outline">
                <mat-label>Nombre del area de investigación</mat-label>
                <input
                type="text"
                name="nombre"
                matInput
                placeholder="Ingrese un nombre del area de investigacion"
                [(ngModel)] = "areaInvestigacion.nombreAreaInvestigacion"
                >
              </mat-form-field>
              <mat-form-field class="w100" appearance="outline">
                <mat-label>Descripción</mat-label>
                <textarea
                name="descripcion"
                matInput
                placeholder="Digite la descripción de la investigacion"
                rows="15"
                [(ngModel)] = "areaInvestigacion.descripcion"
                >
                </textarea>
              </mat-form-field>

              <div class="container text-center mt15">
                <button mat-raised-button color="primary">Guardar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>