<mat-card style="margin-bottom: 5px; padding-bottom: 0%; height: 65px;">
    <mat-card-header>
      <label mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" style="position: absolute;top: 0;left: 20px; margin-top: 20px;" >
        <mat-icon style="font-size: 30px;"  >explore</mat-icon>
      </label>
      <mat-card-title style="font-size: 15px ;margin-bottom: 5px; margin-left: 30px; padding-bottom: 3px; margin-top: 0; padding-top: 0; border-top: 0;">Añadir investigaciones</mat-card-title>
      <mat-card-subtitle style="margin-left: 30px">Guarda las investigaciones</mat-card-subtitle>
    </mat-card-header>
</mat-card>

<mat-card>
    <mat-card-content>
      <div class="bootstrap-wrapper">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <form (ngSubmit)= "formSubmit()">
              <mat-form-field class="w100" appearance="outline">
                <mat-label>Nombre investigacion</mat-label>
                <input
                required
                type="text"
                name="nombre"
                matInput
                placeholder="Ingrese un nombre de la investigacion"
                [(ngModel)] = "investigacion.nombreInvestigacion"
                >
              </mat-form-field>
              <mat-form-field class="w100" appearance="outline">
                <mat-label>Descripción</mat-label>
                <textarea
                name="descripcion"
                matInput
                placeholder="Digite la descripción de la investigacion"
                rows="15"
                [(ngModel)] = "investigacion.descripcion"
                >
                </textarea>
              </mat-form-field>
              
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="w100">
                    <mat-label>Fecha de inicio</mat-label>
                    <input
                    required
                    type="date"
                    matInput
                    name="fechaInicio"
                    placeholder="Ingrese la fecha de fin"
                    [(ngModel)] = "investigacion.fechaInicio">
                  </mat-form-field>
                </div>

                <div class="col-md-6">
                  <mat-form-field class="w100">
                    <mat-label>Fecha de fin</mat-label>
                    <input
                    required
                    type="date"
                    matInput
                    name="fechaFin"
                    placeholder="Ingrese la fecha de inicio"
                    [(ngModel)] = "investigacion.fechaFin">
                  </mat-form-field>
                </div>

                </div>
              <div class="container text-center mt15">
                <button mat-raised-button color="primary">Guardar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
