<mat-toolbar>
  
  <span>Usuarios</span>
  <span class="example-spacer"></span>
  
</mat-toolbar>
<mat-card>
  
    <mat-card-content>
      <div class="bootstrap-wrapper">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <h1>Usuario</h1>
            <form *ngIf = "user" (submit) = "actualizarDatos()">

              
              <mat-card>Inicio de secion
                <br><br>

                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Usermane usuario:</mat-label>
                  <input
                  [(ngModel)] = "userFinal.username"
                  required
                  type="text"
                  name="username"
                  matInput
                  placeholder="Digite el su username"
                  >
                </mat-form-field>


                <mat-form-field class = "full-width"  appearance = "outline">
                  <mat-label>Nombre usuario:</mat-label>
                  <input
                  [(ngModel)] = "userFinal.nombre"
                  required
                  type="text"
                  name="nombre"
                  matInput
                  placeholder="Digite el su nombre"
                  >
                </mat-form-field>

                <mat-form-field class = "full-width"  appearance = "outline">
                  <mat-label>Apellido usuario:</mat-label>
                  <input
                  [(ngModel)] = "userFinal.apellido"
                  required
                  type="text"
                  name="apellido"
                  matInput
                  placeholder="Digite el su apellido"
                  >
                </mat-form-field>

                
                

                

                <mat-form-field class = "full-width"  appearance = "outline">
                  <mat-label>Email usuario:</mat-label>
                  <input
                  [(ngModel)] = "userFinal.email"
                  required
                  type="text"
                  name="email"
                  matInput
                  placeholder="Digite el su email"
                  >
                </mat-form-field>
  
                <mat-form-field class = "full-width"  appearance = "outline">
                  <mat-label>Telefono usuario:</mat-label>
                  <input
                  [(ngModel)] = "userFinal.telefono "
                  required
                  type="text"
                  name="telefono"
                  matInput
                  placeholder="Digite el su telefono"
                  >
                </mat-form-field>

                <mat-form-field class = "full-width"  appearance = "outline">
                  <mat-label>Contraseña antigua</mat-label>
                  <input
                    [(ngModel)] = "loginData.password "
                    required
                    [type]="hidePass1 ? 'password' : 'text'"
                    name="pass1"
                    matInput
                    placeholder="Ingrese su contraseña antigua"
                  >
                  <button mat-icon-button matSuffix (click)="hidePass1 = !hidePass1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePass1">
                    <mat-icon>{{hidePass1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                </mat-form-field>

                <mat-form-field class = "full-width"  appearance = "outline">
                  <mat-label>Contraseña nueva</mat-label>
                  <input
                    [(ngModel)] = "userFinal.password "
                    required
                    [type]="hidePass2 ? 'password' : 'text'"
                    name="pass2"
                    matInput
                    placeholder="Ingrese su nueva contraseña"
                  >
                  <button mat-icon-button matSuffix (click)="hidePass2 = !hidePass2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePass2">
                    <mat-icon>{{hidePass2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                </mat-form-field>

              </mat-card>
                <br><br>
              <div class="container text-center mt15">
                <button mat-raised-button color="primary"><app-root></app-root>Guardar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>